<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.dao.CheckCarDao">
    <!-- 查询  ++ 模糊查询-->
    <select id="getAllByConfigCode" parameterType="com.bdqn.entity.CheckCar" resultType="com.bdqn.entity.CheckCar">
        select *
        from check_car
        <where>

            <if test="id != null">
                id =#{id}
            </if>


            <if test="businessNum != null and businessNum != ''">
                and businessNum like CONCAT('%',#{businessNum},'%')
            </if>
            <if test="companyId != null">
                and companyId = #{companyId}
            </if>

            <if test="jieGuoId != null">
                and jieGuoId = #{jieGuoId}
            </if>
            <if test="companyName != null and companyName != ''">
                and companyName like concat('%',#{companyName},'%')
            </if>
            <if test="customerName != null and customerName!=''">
                and customerName like concat('%',#{customerName},'%')
            </if>
            <if test="phone != null">
                ,phone LIKE CONCAT('%',#{phone},'%')
            </if>
            <if test="carType != null and carType !='' ">
                and carType like concat('%',#{carType},'%')
            </if>
            <if test="carPlateNum != null and carPlateNum!= ''">
                and carPlateNum like concat('%',#{carPlateNum},'%')
            </if>
            <if test="deliveryNum != null and deliveryNum!= ''">
                and deliveryNum like concat('%',#{deliveryNum},'%')
            </if>
            <if test="monitoringStation!= null and monitoringStation!= ''">
                and monitoringStation like concat('%',#{monitoringStation},'%')
            </if>
            <if test="reservationTime != null">
                and reservationTime = NOW()
            </if>
            <if test="submitId != null">
                and submitId = #{submitId}
            </if>
            <if test="submitName != null and submitName!= ''">
                and submitName like concat('%',#{submitName},'%')
            </if>
            <if test="submitUserName != null and submitUserName != ''">
                and submitUserName like concat('%',#{submitUserName},'%')
            </if>
            <if test="submitTime != null">
                and submitTime = NOW()
            </if>
            <if test="disposeId != null ">
                and disposeId = #{disposeId}
            </if>
            <if test="disposeName != null and disposeName != ''">
                and disposeName like concat('%',#{disposeName},'%')
            </if>
            <if test="disposeUserName != null and disposeUserName != ''">
                and disposeUserName like concat('%',#{disposeUserName},'%')
            </if>
            <if test="disposeTime != null">
                and disposeTime = NOW()
            </if>
            <if test="creationTime != null">
                and creationTime = NOW()
            </if>
            <if test="createdBy != null and createdBy != ''">
                and createdBy like concat('%',#{createdBy} ,'%')
            </if>
            <if test="creationTime != null">
                and creationTime = NOW()
            </if>
            <if test="lingQuUserId != null">
                and lingQuUserId = #{lingQuUserId}
            </if>
            <if test=" createdId != null">
                and createdId = #{createdId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test=" lastUpdateBy != null and lastUpdateBy != ''">
                and lastUpdateBy like concat('%',#{lastUpdateBy},'%')
            </if>
            <if test="lastUpdateTime != null">
                and lastUpdateTime = NOW()
            </if>

        </where>
    </select>
    <!--  改 -->
    <update id="getUpOne" parameterType="com.bdqn.entity.CheckCar">
        update check_car
        <set>
            <if test="businessNum != null and businessNum != ''">
                businessNum = #{businessNum}
            </if>
            <if test="companyId != null">
                , companyId = #{companyId}
            </if>
            <if test="companyName != null and companyName != ''">
                , companyName = #{companyName}
            </if>
            <if test="customerName != null and customerName!=''">
                , customerName = #{customerName}
            </if>
            <if test="phone != null">
                , phone = #{phone}
            </if>
            <if test="carType != null and carType !='' ">
                , carType = #{carType}
            </if>
            <if test="carPlateNum != null and carPlateNum!= ''">
                , carPlateNum = #{carPlateNum}
            </if>
            <if test="deliveryNum != null and deliveryNum!= ''">
                , deliveryNum = #{deliveryNum}
            </if>
            <if test="monitoringStation!= null and monitoringStation!= ''">
                , monitoringStation = #{monitoringStation}
            </if>
            <if test="reservationTime != null and reservationTime != null">
                , reservationTime = #{reservationTime}
            </if>
            <if test="submitId != null">
                , submitId = #{submitId}
            </if>
            <if test="submitName != null and submitName!= ''">
                , submitName = #{submitName}
            </if>
            <if test="submitUserName != null and submitUserName != ''">
                , submitUserName = #{submitUserName}
            </if>
            <if test="submitTime != null">
               , submitTime =#{submitTime}
            </if>
            <if test="disposeId != null ">
                , disposeId = #{disposeId}
            </if>
            <if test="disposeName != null and disposeName != ''">
                , disposeName = #{disposeName}
            </if>
            <if test="disposeUserName != null and disposeUserName != ''">
                , disposeUserName = #{disposeUserName}
            </if>
            <if test="disposeTime != null">
                , disposeTime = NOW()
            </if>
            <if test="creationTime != null">
                , creationTime = NOW()
            </if>
            <if test="createdBy != null and createdBy != ''">
                , createdBy = #{createdBy}
            </if>
            <if test=" createdId != null">
                , createdId = #{createdId}
            </if>
            <if test="status != null">
                , status = #{status}
            </if>

            <if test="boHui != null and boHui != ''">
                ,boHui = #{boHui}
            </if>





            <if test="lingQuTime != null and lingQuTime != ''">
                ,lingQuTime = #{lingQuTime}
            </if>
            <if test="lingQuUserId != null">
                ,lingQuUserId = #{lingQuUserId}
            </if>
            <if test="lingQuUserName != null and lingQuUserName != ''">
                ,lingQuUserName = #{lingQuUserName}
            </if>
            <if test="lingQuName != null and lingQuName != ''">
                ,lingQuName = #{lingQuName}
            </if>
            <if test="lingQuId != null">
                ,lingQuId = #{lingQuId}
            </if>







            <if test="submitId == 1 or jieGuoId == 1">
                ,boHui = null
            </if>
            <if test="jieGuoId != null">
                ,jieGuoId = #{jieGuoId}
            </if>
            <if test="jieGuoName != null and jieGuoName != ''">
                ,jieGuoName = #{jieGuoName}
            </if>
            <if test="boHui == null or boHui == ''">
                ,lastUpdateBy = #{lastUpdateBy}
                ,lastUpdateTime =NOW()
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 删除 -->
    <delete id="getdeleOne">
        UPDATE
          `emailmanagedb`.`check_car`
        SET
          `status` = '1'
        WHERE `id` = #{id}
    </delete>
    <!-- 增 -->
    <insert id="getAddOne" parameterType="com.bdqn.entity.CheckCar">
        INSERT INTO `emailmanagedb`.`check_car` (
  `businessNum`,
  `companyId`,
  `companyName`,
  `customerName`,
  `phone`,
  `carType`,
  `carPlateNum`,
  `deliveryNum`,
  `monitoringStation`,
  `reservationTime`,
  `submitId`,
  `submitName`,
  `submitUserName`,
  `submitTime`,
  `disposeId`,
  `disposeName`,
  `disposeUserName`,
  `disposeTime`,
  `creationTime`,
  `createdBy`,
  `createdId`,
  `status`,
  `lastUpdateBy`,
  `lastUpdateTime`,
  `boHui`,
  `jieGuoId`,
  `jieGuoName`
)
VALUES
  (
#{businessNum},
#{companyId},
#{companyName},
#{customerName},
#{phone},
#{carType},
#{carPlateNum},
#{deliveryNum},
#{monitoringStation},
#{reservationTime},
#{submitId},
#{submitName},
#{submitUserName},
#{submitTime},
#{disposeId},
#{disposeName},
#{disposeUserName},
NOW(),
#{creationTime},
#{createdBy},
#{createdId},
#{status},
#{lastUpdateBy},
#{lastUpdateTime},
#{boHui},
#{jieGuoId},
#{jieGuoName}
  )
    </insert>
</mapper>
