<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.dao.DesignatedDriverDao">
    <!-- 查询  ++ 模糊查询-->
    <select id="getAllByConfigCode" parameterType="com.bdqn.entity.DesignatedDriver"
            resultType="com.bdqn.entity.DesignatedDriver">
        select *
        from designated_driver
        <where>
            <if test="id != null">
                id =#{id}
            </if>
            <if test="businessNum != null and businessNum != ''">
                and businessNum like concat('%',#{businessNum},'%')
            </if>
            <if test="companyId != null">
                and companyId = #{companyId}
            </if>
            <if test="companyName != null and companyName != ''">
                and companyName like concat('%',#{companyName},'%')
            </if>
            <if test="customerName != null and customerName!= ''">
                and customerName like concat('%',#{customerName},'%')
            </if>
            <if test="phone != null ">
                and phone = #{phone}
            </if>
            <if test="location != null and location != ''">
                and location like concat('%',#{location},'%')
            </if>
            <if test="destination != null and destination!= ''">
                and destination like concat('%',#{destination},'%')
            </if>
            <if test="carPlateNum != null and carPlateNum != ''">
                and carPlateNum like concat('%',#{carPlateNum},'%')
            </if>
            <if test="appointmentBookingTime != null">
                and appointmentBookingTime = NOW()
            </if>
            <if test="consumptionTypeId != null">
                and consumptionTypeId = #{consumptionTypeId}
            </if>
            <if test="consumptionTypeName != null and consumptionTypeName != ''">
                and consumptionTypeName like concat('%',#{consumptionTypeName},'%')
            </if>
            <if test="threeInOneId != null">
                and threeInOneId =#{threeInOneId}
            </if>
            <if test="threeInOneName != null and threeInOneName != ''">
                and threeInOneName like concat('%',#{threeInOneName},'%')
            </if>

            <if test="jieGuoId != null">
                and jieGuoId = #{jieGuoId}
            </if>


            <if test="submitId != null">
                and submitId = #{submitId}
            </if>
            <if test="submitName != null and submitName!= ''">
                and submitName like concat('%',#{submitName},'%')
            </if>

            <if test="submitUserName != null and submitUserName!= ''">
                and submitUserName like concat('%',#{submitUserName},'%')
            </if>
            <if test="submitTime != null and submitTime!= ''">
                and submitTime = NOW()
            </if>
            <if test="disposeId != null and disposeId != ''">
                and disposeId = #{disposeId}
            </if>
            <if test="disposeName != null and disposeName != ''">
                and disposeName like concat('%',#{disposeName},'%')
            </if>

            <if test="disposeUserName != null and disposeUserName!= ''">
                and disposeUserName like concat('%',#{disposeUserName},'%')
            </if>

            <if test="disposeTime != null">
                and disposeTime = NOW()
            </if>

            <if test="creationTime != null">
                and creationTime = NOW()
            </if>

            <if test="createdBy != null and createdBy">
                and createdBy like concat('%',#{createdBy},'%')
            </if>

            <if test="createdId != null ">
                and createdId = #{createdId}
            </if>

            <if test="status != null">
                and status = #{status}
            </if>

            <if test="lastUpdateBy != null and lastUpdateBy != ''">
                and lastUpdateBy like concat('%',#{lastUpdateBy},'%')
            </if>

            <if test="lastUpdateTime != null">
                and lastUpdateTime = NOW()
            </if>
        </where>
    </select>
    <!--  改 -->
    <update id="getUpOne" parameterType="com.bdqn.entity.DesignatedDriver">
        update designated_driver
        <set>
            <if test="businessNum != null and businessNum != ''">
                businessNum = #{businessNum}
            </if>
            <if test="companyId != null">
                ,companyId = #{companyId}
            </if>
            <if test="companyName != null and companyName != ''">
                ,companyName = #{companyName}
            </if>
            <if test="customerName != null and customerName!= ''">
                ,customerName = #{customerName}
            </if>
            <if test="phone != null">
                ,phone = #{phone}
            </if>
            <if test="location != null and location != ''">
                , location = #{location}
            </if>
            <if test="destination != null and destination!= ''">
                , destination = #{destination}
            </if>
            <if test="carPlateNum != null and carPlateNum != ''">
                , carPlateNum = #{carPlateNum}
            </if>
            <if test="appointmentBookingTime != null">
                , appointmentBookingTime = NOW()
            </if>
            <if test="consumptionTypeId != null">
                , consumptionTypeId = #{consumptionTypeId}
            </if>
            <if test="consumptionTypeName != null and consumptionTypeName != ''">
                , consumptionTypeName = #{consumptionTypeName}
            </if>
            <if test="threeInOneId != null">
                , threeInOneId =#{threeInOneId}
            </if>
            <if test="threeInOneName != null and threeInOneName != ''">
                , threeInOneName = #{threeInOneName}
            </if>
            <if test="submitId != null">
                , submitId = #{submitId}
            </if>
            <if test="submitName != null and submitName!= ''">
                , submitName = #{submitName}
            </if>

            <if test="submitUserName != null and submitUserName!= ''">
                , submitUserName = #{submitUserName}
            </if>
            <if test="submitTime != null and submitTime!= ''">
                , submitTime =#{submitTime}
            </if>
            <if test="disposeId != null">
                , disposeId = #{disposeId}
            </if>
            <if test="disposeName != null and disposeName != ''">
                , disposeName = #{disposeName}
            </if>

            <if test="disposeUserName != null and disposeUserName!= ''">
                , disposeusername = #{disposeUserName}
            </if>

            <if test="disposeTime != null and disposeTime != ''">
                ,disposeTime = #{disposeTime}
            </if>
            <if test="creationTime != null">
                , creationTime = NOW()
            </if>
            <if test="createdBy != null and createdBy != ''">
                , createdby = #{createdBy}
            </if>

            <if test="createdId != null ">
                , createdId = #{createdId}
            </if>

            <if test="status != null">
                , status = #{status}
            </if>

            <if test="boHui != null and boHui != ''">
                ,boHui = #{boHui}
            </if>

            <if test="jieGuoId != null">
                ,jieGuoId = #{jieGuoId}
            </if>
            <if test="jieGuoName != null and jieGuoName != ''">
                ,jieGuoName = #{jieGuoName}
            </if>

            <if test="boHui == null or boHui == ''">
                ,lastUpdateBy = #{lastUpdateBy}
                ,lastUpdateTime =NOW()
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 删除 -->
    <delete id="getdeleOne">
        UPDATE
          `emailmanagedb`.`designated_driver`
        SET
          `status` = '1'
        WHERE `id` = #{id}
    </delete>
    <!-- 增 -->
    <insert id="getAddOne" parameterType="com.bdqn.entity.DesignatedDriver">
        INSERT INTO `designated_driver` (
          `businessNum`,
          `companyId`,
          `companyName`,
          `customerName`,
          `phone`,
          `location`,
          `destination`,
          `carPlateNum`,
          `appointmentBookingTime`,
          `consumptionTypeId`,
          `consumptionTypeName`,
          `threeInOneId`,
          `threeInOneName`,
          `submitId`,
          `submitName`,
          `submitUserName`,
          `submitTime`,
          `disposeId`,
          `disposeName`,
          `disposeUserName`,
          `disposeTime`,
          `creationTime`,
          `createdBy`,
          `createdId`,
          `status`,
          `lastUpdateBy`,
          `lastUpdateTime`,
          `lingQu`,
          `boHui`,
          `jieGuoId`,
          `jieGuoName`
        )
        VALUES
          (
            #{businessNum},
            #{companyId},
            #{companyName},
            #{customerName},
            #{phone},
            #{location},
            #{destination},
            #{carPlateNum},
            #{appointmentBookingTime},
            #{consumptionTypeId},
            #{consumptionTypeName},
            #{threeInOneId},
            #{threeInOneName},
            #{submitId},
            #{submitName},
            #{submitUserName},
            #{submitTime},
            #{disposeId},
            #{disposeName},
            #{disposeUserName},
            #{disposeTime},
            #{creationTime},
            #{createdBy},
            #{createdId},
            #{status},
            #{lastUpdateBy},
            #{lastUpdateTime},
            #{lingQu},
            #{boHui},
            #{jieGuoId},
            #{jieGuoName}
          )
    </insert>
</mapper>

