<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.dao.LicensePlateCorrectionDao">
    <!-- 查询  ++ 模糊查询-->
    <select id="getAllByConfigCode" parameterType="com.bdqn.entity.LicensePlateCorrection"
            resultType="com.bdqn.entity.LicensePlateCorrection">
        select *
        from license_plate_correction
        <where>
            <if test="id != null">
                id =#{id}
            </if>
            <if test="businessNum != null and businessNum != ''">
                businessNum like concat('%',#{businessNum},'%')
            </if>

            <if test="companyId != null ">
                and companyId = #{companyId}
            </if>

            <if test="companyName != null and companyName != ''">
                and companyName like concat('%',#{companyName},'%')
            </if>

            <if test="customerName != null and customerName != ''">
                and customerName like concat('%',#{customerName},'%')
            </if>

            <if test="phone != null">
                ,phone LIKE CONCAT('%',#{phone},'%')
            </if>

            <if test="carPlateNum != null and carPlateNum != ''">
                and carPlateNum like concat('%',#{carPlateNum},'%')
            </if>

            <if test="deliveryNum != null and deliveryNum != ''">
                and deliveryNum like concat('%',#{deliveryNum},'%')
            </if>

            <if test="commerciaNum != null and commerciaNum != ''">
                and commerciaNum like concat('%',#{commerciaNum},'%')
            </if>

            <if test="correctId != null">
                and correctId =#{correctId}
            </if>

            <if test="correctName != null and correctName != ''">
                and correctName like concat('%',#{correctName},'%')
            </if>

            <if test="correctTime != null and correctTime != ''">
                and correctTime like concat('%',#{correctTime},'%')
            </if>

            <if test="insurerTypeId != null">
                and insurerTypeId = #{insurerTypeId}
            </if>

            <if test="insurerTypeName != null and insurerTypeName != ''">
                and insurerTypeName like concat('%',#{insurerTypeName},'%')
            </if>

            <if test="submitId != null">
                and submitId = #{submitId}
            </if>

            <if test="submitName != null and submitName != ''">
                and submitName like concat('%',#{submitName},'%')
            </if>

            <if test="submitUserName != null and submitUserName != ''">
                and submitUserName like concat('%',#{submitUserName},'%')
            </if>
            <if test="submitTime != null">
                and submitTime = #{submitTime}
            </if>
            <if test="creationTime != null">
                and creationTime = #{creationTime}
            </if>
            <if test="createdBy != null and createdBy != ''">
                and createdBy like concat('%',#{createdBy},'%')
            </if>

            <if test="createdId != null">
                and createdId = #{createdId}
            </if>
            <if test="jieGuoId != null">
                and jieGuoId = #{jieGuoId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>

            <if test="lastUpdateBy != null and lastUpdateBy != ''">
                and lastUpdateBy like concat('%',#{lastUpdateBy},'%')
            </if>

            <if test="lastUpdateTime != null">
                and lastUpdateTime =#{lastUpdateTime}
            </if>
        </where>
    </select>
    <!--  改 -->
    <update id="getUpOne" parameterType="com.bdqn.entity.LicensePlateCorrection">
        update license_plate_correction
        <set>
            <if test="businessNum != null and businessNum != ''">
                businessNum = #{businessNum}
            </if>

            <if test="companyId != null ">
                , companyId = #{companyId}
            </if>

            <if test="companyName != null and companyName != ''">
                , companyName = #{companyName}
            </if>

            <if test="customerName != null and customerName != ''">
                , customerName = #{customerName}
            </if>

            <if test="phone != null">
                , phone =#{phone}
            </if>

            <if test="carPlateNum != null and carPlateNum != ''">
                , carPlateNum = #{carPlateNum}
            </if>

            <if test="deliveryNum != null and deliveryNum != ''">
                , deliveryNum = #{deliveryNum}
            </if>

            <if test="commerciaNum != null and commerciaNum != ''">
                , commerciaNum = #{commerciaNum}
            </if>

            <if test="correctId != null">
                , correctId =#{correctId}
            </if>

            <if test="correctName != null and correctName != ''">
                , correctName = #{correctName}
            </if>

            <if test="correctTime != null and correctTime != ''">
                , submitTime =#{submitTime}
            </if>

            <if test="insurerTypeId != null">
                , insurerTypeId = #{insurerTypeId}
            </if>

            <if test="insurerTypeName != null and insurerTypeName != ''">
                , insurerTypeName = #{insurerTypeName}
            </if>

            <if test="submitId != null">
                , submitId = #{submitId}
            </if>

            <if test="submitName != null and submitName != ''">
                , submitName = #{submitName}
            </if>

            <if test="submitUserName != null and submitUserName != ''">
                , submitUserName = #{submitUserName}
            </if>
            <if test="submitTime != null">
                , submitTime = #{submitTime}
            </if>
            <if test="creationTime != null">
                , creationTime = #{creationTime}
            </if>
            <if test="createdBy != null and createdBy != ''">
                , createdBy = #{createdBy}
            </if>

            <if test="createdId != null">
                , createdId = #{createdId}
            </if>

            <if test="status != null">
                , status = #{status}
            </if>
            <if test="boHui != null and boHui != ''">
                ,boHui = #{boHui}
            </if>
            <if test="submitId == 1 or jieGuoId == 1">
                ,boHui = null
            </if>
            <if test="jieGuoId != null">
                ,jieGuoId = #{jieGuoId}
            </if>
            <if test="jieGuoName != null and jieGuoName != ''">
                ,jieGuoName = #{jieGuoName}
            </if>
            <if test="boHui == null or boHui == ''">
                ,lastUpdateBy = #{lastUpdateBy}
                ,lastUpdateTime =NOW()
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 删除 -->
    <delete id="getdeleOne">
       UPDATE
          `emailmanagedb`.`license_plate_correction`
        SET
          `status` = '1'
        WHERE `id` = #{id}
    </delete>
    <!-- 增 -->
    <insert id="getAddOne" parameterType="com.bdqn.entity.LicensePlateCorrection">
        insert into license_plate_correction(
            businessNum,
            companyId,
            companyName,
            customerName,
            phone,
            carPlateNum,
            deliveryNum,
            commerciaNum,
            correctId,
            correctName,
            correctUserName,
            correctTime,
            insurerTypeId,
            insurerTypeName,
            submitId,
            submitName,
            submitUserName,
            submitTime,
            creationTime,
            createdBy,
            createdId,
            status,
            `boHui`,
          `jieGuoId`,
          `jieGuoName`,
            lastUpdateBy,
            lastUpdateTime
        )values(
            #{businessNum},
            #{companyId},
            #{companyName},
            #{customerName},
            #{phone},
            #{carPlateNum},
            #{deliveryNum},
            #{commerciaNum},
            #{correctId},
            #{correctName},
            #{correctUserName},
            #{correctTime},
            #{insurerTypeId},
            #{insurerTypeName},
            #{submitId},
            #{submitName},
            #{submitUserName},
            #{submitTime},
            #{creationTime},
            #{createdBy},
            #{createdId},
            #{status},
            #{boHui},
        #{jieGuoId},
        #{jieGuoName},
            #{lastUpdateBy},
            #{lastUpdateTime}
        )
    </insert>
</mapper>

